Node Red/flows.backup
[{"type":"tab","id":"49bc2521.b643dc","label":"Sheet 1"},{"type":"tab","id":"757e065d.8a81f8","label":"Sheet 2"},{"type":"tab","id":"a37b7238.5c849","label":"Sheet 3"},{"type":"tab","id":"a3f0f6f.f5c0f08","label":"Sheet 4"},{"type":"tab","id":"d701228b.28fee","label":"Sheet 5"},{"id":"ccf4a74a.330b58","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"97785c72.6887a","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"e59d6920.1a6298","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"b5b85246.4a47b","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"1d92b307.e26d4d","type":"websocket-listener","path":"/simulator","wholemsg":"false"},{"id":"c8a1051a.375ef8","type":"mqtt-broker","broker":"tcp://localhost:1883","port":"1883","clientid":""},{"id":"e66eb942.199148","type":"mqtt-broker","broker":"tcp://localhost","port":"1883","clientid":""},{"id":"c3e1a7c.f3c1e58","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"6dc97c56.923684","type":"websocket-listener","path":"ws://localhost:1880/simulator","wholemsg":"true"},{"id":"3fd7311e.c028ce","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"35c57467.ca3a8c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"nodered"},{"id":"54595304.aba6ac","type":"mqtt in","name":"sensor_r1","topic":"r1/sensor","broker":"ccf4a74a.330b58","x":89,"y":108,"z":"49bc2521.b643dc","wires":[["22bd5a03.dd42a6","c748c9a4.38b738","83f7270a.7c08d8"]]},{"id":"22bd5a03.dd42a6","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":317,"y":71,"z":"49bc2521.b643dc","wires":[["e5f269a1.1a0d98"]]},{"id":"c748c9a4.38b738","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":317,"y":107,"z":"49bc2521.b643dc","wires":[["29c982f8.d6367e"]]},{"id":"83f7270a.7c08d8","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":315,"y":143,"z":"49bc2521.b643dc","wires":[["c2536aa7.3dac98"]]},{"id":"e5f269a1.1a0d98","type":"function","name":"r1_max_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":546,"y":72,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"a5915a4b.5a6ea8","type":"websocket out","name":"expose","server":"1d92b307.e26d4d","x":862,"y":484,"z":"49bc2521.b643dc","wires":[]},{"id":"29c982f8.d6367e","type":"function","name":"r1_min_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":546,"y":107,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c2536aa7.3dac98","type":"function","name":"r1_avg_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":545,"y":143,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"833b8675.7cc478","type":"mqtt in","name":"sensor_r2","topic":"r2/sensor","broker":"ccf4a74a.330b58","x":90,"y":226,"z":"49bc2521.b643dc","wires":[["47d6804e.b8298","b6adcbd7.495238","4694d38f.b96b2c"]]},{"id":"47d6804e.b8298","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":311,"y":190,"z":"49bc2521.b643dc","wires":[["fd03a8a3.02fc58"]]},{"id":"b6adcbd7.495238","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":309,"y":225,"z":"49bc2521.b643dc","wires":[["c6d05232.392fb"]]},{"id":"4694d38f.b96b2c","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":310,"y":260,"z":"49bc2521.b643dc","wires":[["4b5b35a3.b4a4cc"]]},{"id":"fd03a8a3.02fc58","type":"function","name":"r2_max_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":541,"y":190,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c6d05232.392fb","type":"function","name":"r2_min_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":540,"y":225,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"4b5b35a3.b4a4cc","type":"function","name":"r2_avg_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":539,"y":260,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"1eade39.fe1521c","type":"mqtt in","name":"sensor_r3","topic":"r3/sensor","broker":"ccf4a74a.330b58","x":92,"y":339,"z":"49bc2521.b643dc","wires":[["b4ad53a2.4b52b","7115eacd.8eea14","de55cd42.21aa3"]]},{"id":"b4ad53a2.4b52b","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":309,"y":309,"z":"49bc2521.b643dc","wires":[["f0bcd485.0f4328"]]},{"id":"7115eacd.8eea14","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":308,"y":344,"z":"49bc2521.b643dc","wires":[["99396e56.66c69"]]},{"id":"de55cd42.21aa3","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":307,"y":379,"z":"49bc2521.b643dc","wires":[["20b81928.df47e6"]]},{"id":"f0bcd485.0f4328","type":"function","name":"r3_max_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":538,"y":309,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"99396e56.66c69","type":"function","name":"r3_min_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":535,"y":344,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"20b81928.df47e6","type":"function","name":"r3_avg_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":533,"y":379,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"22f0d947.dd0f26","type":"mqtt in","name":"sensor_r4","topic":"r4/sensor","broker":"ccf4a74a.330b58","x":96,"y":459,"z":"49bc2521.b643dc","wires":[["f77116f2.088ee8","becc4e7d.4133b","796063fb.869f9c"]]},{"id":"f77116f2.088ee8","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":305,"y":432,"z":"49bc2521.b643dc","wires":[["228e03d3.dd71fc"]]},{"id":"228e03d3.dd71fc","type":"function","name":"r4_max_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":534,"y":432,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"becc4e7d.4133b","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":300,"y":466,"z":"49bc2521.b643dc","wires":[["e8ee836d.17118"]]},{"id":"e8ee836d.17118","type":"function","name":"r4_min_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":533,"y":466,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"796063fb.869f9c","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":298,"y":501,"z":"49bc2521.b643dc","wires":[["de527c16.21ad8"]]},{"id":"de527c16.21ad8","type":"function","name":"r4_avg_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":531,"y":501,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"1ce97d6c.e31683","type":"mqtt in","name":"state_r1","topic":"r1/state","broker":"ccf4a74a.330b58","x":89,"y":550,"z":"49bc2521.b643dc","wires":[["d146774b.2eb988"]]},{"id":"d146774b.2eb988","type":"function","name":"r1_state_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":526,"y":550,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"bd956483.426a98","type":"function","name":"r2_state_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":526,"y":585,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"62ce2d06.9d31d4","type":"function","name":"r3_state_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":528,"y":620,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c6ea1029.3915f","type":"mqtt in","name":"state_r2","topic":"r2/state","broker":"ccf4a74a.330b58","x":91,"y":585,"z":"49bc2521.b643dc","wires":[["bd956483.426a98"]]},{"id":"6036ca37.9fc934","type":"mqtt in","name":"state_r3","topic":"r3/state","broker":"ccf4a74a.330b58","x":91,"y":619,"z":"49bc2521.b643dc","wires":[["62ce2d06.9d31d4"]]},{"id":"a5ece9ac.5a1318","type":"mqtt in","name":"state_r4","topic":"r4/state","broker":"ccf4a74a.330b58","x":91,"y":653,"z":"49bc2521.b643dc","wires":[["6d3f099d.92c0f8"]]},{"id":"6d3f099d.92c0f8","type":"function","name":"r4_state_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":527,"y":655,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c22c536.f3dd3b","type":"mqtt in","name":"car_r1","topic":"r1/car","broker":"ccf4a74a.330b58","x":88,"y":714,"z":"49bc2521.b643dc","wires":[["eaa42985.155bd8"]]},{"id":"25584892.daa7b8","type":"mqtt in","name":"car_r2","topic":"r2/car","broker":"ccf4a74a.330b58","x":89,"y":750,"z":"49bc2521.b643dc","wires":[["a0554db7.5faab"]]},{"id":"91ba5321.6e45b","type":"mqtt in","name":"car_r3","topic":"r3/car","broker":"ccf4a74a.330b58","x":88,"y":786,"z":"49bc2521.b643dc","wires":[["94a1e77b.6b5e18"]]},{"id":"d7e3d179.281c3","type":"mqtt in","name":"car_r4","topic":"r4/car","broker":"ccf4a74a.330b58","x":88,"y":822,"z":"49bc2521.b643dc","wires":[["24b54d49.db4ab2"]]},{"id":"eaa42985.155bd8","type":"function","name":"r1_car_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":714,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"a0554db7.5faab","type":"function","name":"r2_car_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":750,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"94a1e77b.6b5e18","type":"function","name":"r3_car_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":786,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"24b54d49.db4ab2","type":"function","name":"r4_car_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":523,"y":822,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"2a00e719.d5ff18","type":"debug","name":"debug","active":true,"console":"true","complete":"false","x":725,"y":232,"z":"757e065d.8a81f8","wires":[]},{"id":"81bc1ffd.7e43e","type":"mqtt in","name":"movement_sensor","topic":"/some-unique-name-or-id-from-this-config/DummyDevice/RandomStream","broker":"ccf4a74a.330b58","x":138,"y":99,"z":"757e065d.8a81f8","wires":[["ae030a9d.51fcf8"]]},{"id":"52323c79.adcdc4","type":"http request","name":"","method":"POST","url":"","x":754,"y":99,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"2df4e53d.d20b1a","type":"function","name":"Prepare HTTP Request","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Guten Morgen\";\nreturn msg;","outputs":1,"x":532,"y":99,"z":"757e065d.8a81f8","wires":[["52323c79.adcdc4"]]},{"id":"ae030a9d.51fcf8","type":"function","name":"check_time","func":"var json = JSON.parse(msg.payload);\nif(context.global.playMsg && json.e.bv){ \n\tcontext.global.playMsg = false;\n\treturn msg;\n}","outputs":1,"x":307,"y":98,"z":"757e065d.8a81f8","wires":[["2df4e53d.d20b1a","2a00e719.d5ff18"]]},{"id":"ffbf9431.004068","type":"inject","name":"entry time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"56 17 * * *","once":false,"x":212,"y":233,"z":"757e065d.8a81f8","wires":[["75cc0022.8a34"]]},{"id":"75cc0022.8a34","type":"function","name":"setPlayMsg","func":"//if(typeof context.global.playMsg === \"undefined\"){\n\tcontext.global.playMsg = true;\n//}\nif(context.global.playMsg){\n\tmsg.payload = context.global.playMsg;\n}\n\t\nreturn msg;","outputs":1,"x":372,"y":233,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"a56aef18.5a951","type":"inject","name":"check_office_time","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"x":200,"y":462,"z":"757e065d.8a81f8","wires":[["e9ca9008.16357"]]},{"id":"e9ca9008.16357","type":"http request","name":"call_dashboard","method":"GET","url":"http://localhost:8080/dashboard","x":437,"y":462,"z":"757e065d.8a81f8","wires":[["abdcea94.542318"]]},{"id":"abdcea94.542318","type":"function","name":"set_office_time","func":"var json = JSON.parse(msg.payload);\n\nif(typeof context.global.officeTime === \"undefined\"){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nif(context.global.officeTime != json.panes[0].widgets[0].settings.value){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nmsg.payload = context.global.officeTime;\nreturn msg;","outputs":1,"x":659,"y":461,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"3e17c7c3.c1e838","type":"mqtt in","name":"movement_sensor","topic":"/some-unique-name-or-id-from-this-config/DummyDevice/RandomStream","broker":"ccf4a74a.330b58","x":125,"y":149,"z":"a37b7238.5c849","wires":[["2fb70f3.fd048f"]]},{"id":"ab8cbec7.54734","type":"inject","name":"check","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 8-17 * * *","once":false,"x":167,"y":449,"z":"a37b7238.5c849","wires":[["799d0dff.8662f4"]]},{"id":"799d0dff.8662f4","type":"http request","name":"checkTime","method":"GET","url":"http://localhost:8080/dashboard","x":349,"y":449,"z":"a37b7238.5c849","wires":[["19adf8a0.e65207"]]},{"id":"dee55383.211ab","type":"debug","name":"","active":true,"console":"false","complete":"false","x":714,"y":449,"z":"a37b7238.5c849","wires":[]},{"id":"19adf8a0.e65207","type":"function","name":"set_office_time","func":"var json = JSON.parse(msg.payload);\n\nif(typeof context.global.officeTime === \"undefined\"){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nif(context.global.officeTime != json.panes[0].widgets[0].settings.value){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nmsg.payload = context.global.officeTime;\ncontext.global.alarm = true;\nreturn msg;","outputs":1,"x":546,"y":449,"z":"a37b7238.5c849","wires":[["dee55383.211ab"]]},{"id":"f3b328bb.0c4cd8","type":"switch","name":"check_movement","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":516,"y":151,"z":"a37b7238.5c849","wires":[["a22e2679.5dd1d8"]]},{"id":"2fb70f3.fd048f","type":"function","name":"isMovement","func":"var json = JSON.parse(msg.payload);\nmsg.payload = json.e.bv;\nreturn msg;","outputs":1,"x":322,"y":150,"z":"a37b7238.5c849","wires":[["f3b328bb.0c4cd8"]]},{"id":"a22e2679.5dd1d8","type":"function","name":"check_time","func":"if (typeof context.global.alarm === \"undefined\"){\n\tcontext.global.alarm = true;\n} \nif (typeof context.global.officeTime === \"undefined\"){\n\tcontext.global.officeTime = \"09:00\";\n} \nvar currentdate = new Date();\nvar alarm = context.global.officeTime.split(\":\"); \nif(alarm[0] == currentdate.getHours() && context.global.alarm){\n\tmsg.payload = true;\n\tcontext.global.alarm = false;\n}\nelse if(alarm[0] != currentdate.getHours() && !context.global.alarm){\n\tmsg.payload = false;\n\tcontext.global.alarm = true;\n}\nelse{\n\tmsg.payload = false;\n}\nreturn msg;","outputs":1,"x":536,"y":237,"z":"a37b7238.5c849","wires":[["3bd03a17.c42fc6"]]},{"id":"3bd03a17.c42fc6","type":"switch","name":"check_time","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":725,"y":238,"z":"a37b7238.5c849","wires":[["8708d923.78f728"]]},{"id":"8708d923.78f728","type":"function","name":"call_audio_service","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Guten Morgen\";\nreturn msg;","outputs":1,"x":534,"y":348,"z":"a37b7238.5c849","wires":[["72b5e01f.8d4a2"]]},{"id":"72b5e01f.8d4a2","type":"http request","name":"","method":"POST","url":"","x":724,"y":348,"z":"a37b7238.5c849","wires":[[]]},{"id":"cbbcaf18.34435","type":"inject","name":"Get Weather","topic":"","payload":"1","payloadType":"string","repeat":"0","crontab":"15 6 * * *","once":false,"x":324.94447326660156,"y":450.1110782623291,"z":"a3f0f6f.f5c0f08","wires":[["742c9e8c.8bd36"]]},{"id":"742c9e8c.8bd36","type":"http request","name":"BBC Weather","method":"GET","url":"http://open.live.bbc.co.uk/weather/feeds/en/2946447/observations.rss","x":505.8334083557129,"y":450.1110954284668,"z":"a3f0f6f.f5c0f08","wires":[["a214393e.5debc8"]]},{"id":"f59e3789.0a61c8","type":"function","name":"Parse Weather","func":"var weatherChannel = msg.payload.rss.channel[0];\nvar description = weatherChannel.item[0].description[0];\nmsg.payload = description;\nmsg.type = \"business\";\nreturn msg;","outputs":"1","x":854.3889350891113,"y":450.66663360595703,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"a214393e.5debc8","type":"xml","name":"","x":691.5000953674316,"y":450.66662979125977,"z":"a3f0f6f.f5c0f08","wires":[["f59e3789.0a61c8"]]},{"id":"6c32d2f7.93cd2c","type":"function","name":"call_audio_service","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\n\nif(typeof msg.payload == 'string' || msg.payload instanceof String){\n\tmsg.payload = msg.payload.replace(\"-\", \"minus \");\n}\nreturn msg;","outputs":1,"x":773.2779235839844,"y":202.55555534362793,"z":"a3f0f6f.f5c0f08","wires":[["8ae11c2a.751ee"]]},{"id":"8ae11c2a.751ee","type":"http request","name":"Audio Service","method":"POST","url":"","x":919.6112594604492,"y":313.66666412353516,"z":"a3f0f6f.f5c0f08","wires":[["1965851f.e69a7b","f22f9c36.0dd06"]]},{"id":"4592a65f.ba6d58","type":"inject","name":"","topic":"Get Business","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":326.16668128967285,"y":491.77777099609375,"z":"a3f0f6f.f5c0f08","wires":[["10bbcda.fef4432"]]},{"id":"10bbcda.fef4432","type":"http request","name":"BBC Business","method":"GET","url":"http://feeds.bbci.co.uk/news/business/rss.xml","x":513.0556049346924,"y":491.6666588783264,"z":"a3f0f6f.f5c0f08","wires":[["85917343.7a6e9"]]},{"id":"85917343.7a6e9","type":"xml","name":"","x":692.3889427185059,"y":491.6666421890259,"z":"a3f0f6f.f5c0f08","wires":[["d33b6103.2cc4a"]]},{"id":"d33b6103.2cc4a","type":"function","name":"Parse Business","func":"var businessChannel = msg.payload.rss.channel[0];\nvar description1 = businessChannel.item[0].description[0];\nvar description2 = businessChannel.item[1].description[0];\nvar description3 = businessChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"politics\";\nreturn msg;","outputs":1,"x":857.3889503479004,"y":491.6666889190674,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"8b98bb40.746748","type":"inject","name":"","topic":"Get Politics","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":323.0555877685547,"y":535.0000820159912,"z":"a3f0f6f.f5c0f08","wires":[["477d03f9.b882fc"]]},{"id":"477d03f9.b882fc","type":"http request","name":"BBC Politics","method":"GET","url":"http://feeds.bbci.co.uk/news/politics/rss.xml","x":511.9444923400879,"y":534.9999732971191,"z":"a3f0f6f.f5c0f08","wires":[["e8491ac2.17b6e8"]]},{"id":"e8491ac2.17b6e8","type":"xml","name":"","x":695.2777976989746,"y":535.0000629425049,"z":"a3f0f6f.f5c0f08","wires":[["56971bd0.a968e4"]]},{"id":"56971bd0.a968e4","type":"function","name":"Parse Politics","func":"var politicsChannel = msg.payload.rss.channel[0];\nvar description1 = politicsChannel.item[0].description[0];\nvar description2 = politicsChannel.item[1].description[0];\nvar description3 = politicsChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"health\";\nreturn msg;","outputs":1,"x":851.9444046020508,"y":533.8888964653015,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"f0fb7768.0f0488","type":"inject","name":"Get Health","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":319.7222709655762,"y":577.2221429347992,"z":"a3f0f6f.f5c0f08","wires":[["43f8958.fbc076c"]]},{"id":"43f8958.fbc076c","type":"http request","name":"BBC Health","method":"GET","url":"http://feeds.bbci.co.uk/news/health/rss.xml","x":508.61113357543945,"y":577.2223672866821,"z":"a3f0f6f.f5c0f08","wires":[["58101873.a7efe8"]]},{"id":"58101873.a7efe8","type":"xml","name":"","x":695.2778396606445,"y":577.2222242355347,"z":"a3f0f6f.f5c0f08","wires":[["cf3f04a5.30c0f8"]]},{"id":"cf3f04a5.30c0f8","type":"function","name":"Parse Health","func":"var healthChannel = msg.payload.rss.channel[0];\nvar description1 = healthChannel.item[0].description[0];\nvar description2 = healthChannel.item[1].description[0];\nvar description3 = healthChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"education\";\nreturn msg;","outputs":1,"x":855.2778472900391,"y":577.2222452163696,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"186cc578.e7933b","type":"inject","name":"Get Education","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":333.0556011199951,"y":617.2221431732178,"z":"a3f0f6f.f5c0f08","wires":[["6eb580d6.914a8"]]},{"id":"6eb580d6.914a8","type":"http request","name":"BBC Education","method":"GET","url":"http://feeds.bbci.co.uk/news/education/rss.xml","x":523.0555934906006,"y":617.2222747802734,"z":"a3f0f6f.f5c0f08","wires":[["2c64a72a.d39b58"]]},{"id":"2c64a72a.d39b58","type":"xml","name":"","x":693.0555610656738,"y":617.2221994400024,"z":"a3f0f6f.f5c0f08","wires":[["acc278e7.533d88"]]},{"id":"acc278e7.533d88","type":"function","name":"Parse Education","func":"var eduChannel = msg.payload.rss.channel[0];\nvar description1 = eduChannel.item[0].description[0];\nvar description2 = eduChannel.item[1].description[0];\nvar description3 = eduChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"science\";\nreturn msg;","outputs":1,"x":868.6111297607422,"y":617.2222480773926,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"4fe2e50b.b01d1c","type":"inject","name":"Get Science","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":328.61112213134766,"y":659.4444160461426,"z":"a3f0f6f.f5c0f08","wires":[["22cd65b6.dd329a"]]},{"id":"22cd65b6.dd329a","type":"http request","name":"BBC Science","method":"GET","url":"http://feeds.bbci.co.uk/news/science_and_environment/rss.xml","x":515.27783203125,"y":659.444375038147,"z":"a3f0f6f.f5c0f08","wires":[["20f398da.df0c68"]]},{"id":"20f398da.df0c68","type":"xml","name":"","x":690.8334617614746,"y":659.4443893432617,"z":"a3f0f6f.f5c0f08","wires":[["eac78aca.153878"]]},{"id":"eac78aca.153878","type":"function","name":"Parse Science","func":"var scienceChannel = msg.payload.rss.channel[0];\nvar description1 = scienceChannel.item[0].description[0];\nvar description2 = scienceChannel.item[1].description[0];\nvar description3 = scienceChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"technology\";\nreturn msg;","outputs":1,"x":865.2777633666992,"y":659.4443826675415,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"2f96e313.d0691c","type":"inject","name":"Get Technology","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":337.50001525878906,"y":704.9999732971191,"z":"a3f0f6f.f5c0f08","wires":[["e34c2115.1cb3e"]]},{"id":"e34c2115.1cb3e","type":"http request","name":"BBC Technology","method":"GET","url":"http://feeds.bbci.co.uk/news/technology/rss.xml","x":527.5000686645508,"y":705.0000076293945,"z":"a3f0f6f.f5c0f08","wires":[["4110e1b5.beef2"]]},{"id":"4110e1b5.beef2","type":"xml","name":"","x":691.9445114135742,"y":704.9999942779541,"z":"a3f0f6f.f5c0f08","wires":[["567075e6.a98f8c"]]},{"id":"567075e6.a98f8c","type":"function","name":"Parse Technology","func":"var techChannel = msg.payload.rss.channel[0];\nvar description1 = techChannel.item[0].description[0];\nvar description2 = techChannel.item[1].description[0];\nvar description3 = techChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"entertainment\";\nreturn msg;","outputs":1,"x":875.2778511047363,"y":704.9999885559082,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"e2943aa8.1d6bc8","type":"inject","name":"Get Entertainment","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":346.3889389038086,"y":750.5555515289307,"z":"a3f0f6f.f5c0f08","wires":[["fe2dd16a.01d23"]]},{"id":"fe2dd16a.01d23","type":"http request","name":"BBC Entertainment","method":"GET","url":"http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml","x":539.7223014831543,"y":750.5555229187012,"z":"a3f0f6f.f5c0f08","wires":[["939a590.f6c65a8"]]},{"id":"939a590.f6c65a8","type":"xml","name":"","x":696.3890228271484,"y":751.6667308807373,"z":"a3f0f6f.f5c0f08","wires":[["94785e31.6b87a"]]},{"id":"94785e31.6b87a","type":"function","name":"Parse Entertainment","func":"var entertainmentChannel = msg.payload.rss.channel[0];\nvar description1 = entertainmentChannel.item[0].description[0];\nvar description2 = entertainmentChannel.item[1].description[0];\nvar description3 = entertainmentChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\ndelete msg.type;\nreturn msg;","outputs":1,"x":881.944522857666,"y":750.5555572509766,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"b3717f69.4c8e8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.66666030883789,"y":93.33333778381348,"z":"a3f0f6f.f5c0f08","wires":[["66de72f1.99218c"]]},{"id":"66de72f1.99218c","type":"http request","name":"Get News Configuration","method":"GET","url":"http://localhost:8080/dashboard","x":303.33333587646484,"y":92.22222709655762,"z":"a3f0f6f.f5c0f08","wires":[["be26fcb8.41d9"]]},{"id":"be26fcb8.41d9","type":"function","name":"Get Topics","func":"var json = JSON.parse(msg.payload);\nif(typeof context.global.config === \"undefined\"){\n\tcontext.global.config = json.panes[1].widgets[0].settings.value;\n}\ncontext.global.config = json.panes[1].widgets[0].settings.value.split(\",\");\nmsg.type = \"weather\";\nreturn msg;","outputs":1,"x":146.66670989990234,"y":239.99998950958252,"z":"a3f0f6f.f5c0f08","wires":[["1965851f.e69a7b"]]},{"id":"1965851f.e69a7b","type":"function","name":"FlowManager","func":"delete msg.headers;\ndelete msg.statusCode;\ndelete msg.method;\ndelete msg.url;\nif(msg.type == \"weather\"){\n\treturn [msg, null, null, null, null, null, null, null];\n}\nelse if(msg.type == \"business\"){\n\treturn [null, msg, null, null, null, null, null, null];\n}\nelse if(msg.type == \"politics\"){\n\treturn [null, null, msg, null, null, null, null, null];\n}\nelse if(msg.type == \"health\"){\n\treturn [null, null, null, msg, null, null, null, null];\n}\nelse if(msg.type == \"education\"){\n\treturn [null, null, null, null, msg, null, null, null];\n}\nelse if(msg.type == \"science\"){\n\treturn [null, null, null, null, null, msg, null, null];\n}\nelse if(msg.type == \"technology\"){\n\treturn [null, null, null, null, null, null, msg, null];\n}\nelse if(msg.type == \"entertainment\"){\n\treturn [null, null, null, null, null, null, null, msg];\n}","outputs":"8","x":483.3334159851074,"y":240,"z":"a3f0f6f.f5c0f08","wires":[["e9a07eea.165f8"],["e2b31a41.1d4ce8"],["a3e1c7d1.5c1e38"],["949cdbb7.6b6328"],["c0cd7ec6.3f328"],["121cdb27.ede325"],["d65e1a82.29a1e8"],["50aa7af2.af5584"]]},{"id":"e9a07eea.165f8","type":"function","name":"Check Weather","func":"if(context.global.config.indexOf(\"weather\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"business\";\n\treturn [null, msg];\n}","outputs":"2","x":95.94445037841797,"y":457.7777557373047,"z":"a3f0f6f.f5c0f08","wires":[["742c9e8c.8bd36"],["1965851f.e69a7b"]]},{"id":"e2b31a41.1d4ce8","type":"function","name":"Check Business","func":"if(context.global.config.indexOf(\"business\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"politics\";\n\treturn [null, msg];\n}","outputs":"2","x":97.77781677246094,"y":495.55554580688477,"z":"a3f0f6f.f5c0f08","wires":[["10bbcda.fef4432"],["1965851f.e69a7b"]]},{"id":"a3e1c7d1.5c1e38","type":"function","name":"Check Politics","func":"if(context.global.config.indexOf(\"politics\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"health\";\n\treturn [null, msg];\n}","outputs":"2","x":91.11107635498047,"y":535.5556373596191,"z":"a3f0f6f.f5c0f08","wires":[["477d03f9.b882fc"],["1965851f.e69a7b"]]},{"id":"949cdbb7.6b6328","type":"function","name":"Check Health","func":"if(context.global.config.indexOf(\"health\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"education\";\n\treturn [null, msg];\n}","outputs":"2","x":87.77777862548828,"y":575.5555782318115,"z":"a3f0f6f.f5c0f08","wires":[["43f8958.fbc076c"],["1965851f.e69a7b"]]},{"id":"c0cd7ec6.3f328","type":"function","name":"Check Education","func":"if(context.global.config.indexOf(\"education\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"science\";\n\treturn [null, msg];\n}","outputs":"2","x":100,"y":614.444408416748,"z":"a3f0f6f.f5c0f08","wires":[["6eb580d6.914a8"],["1965851f.e69a7b"]]},{"id":"121cdb27.ede325","type":"function","name":"Check Science","func":"if(context.global.config.indexOf(\"science\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"technology\";\n\treturn [null, msg];\n}","outputs":"2","x":93.33333587646484,"y":661.11106300354,"z":"a3f0f6f.f5c0f08","wires":[["22cd65b6.dd329a"],["1965851f.e69a7b"]]},{"id":"d65e1a82.29a1e8","type":"function","name":"Check Technology","func":"if(context.global.config.indexOf(\"technology\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"entertainment\";\n\treturn [null, msg];\n}","outputs":"2","x":103.33332061767578,"y":705.5556516647339,"z":"a3f0f6f.f5c0f08","wires":[["e34c2115.1cb3e"],["1965851f.e69a7b"]]},{"id":"50aa7af2.af5584","type":"function","name":"Check Entertainment","func":"if(context.global.config.indexOf(\"entertainment\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tdelete msg.type;\n\treturn [null, msg];\n}","outputs":"2","x":113.33334350585938,"y":751.1111488342285,"z":"a3f0f6f.f5c0f08","wires":[["fe2dd16a.01d23"],["1965851f.e69a7b"]]},{"id":"f22f9c36.0dd06","type":"debug","name":"","active":true,"console":"false","complete":"true","x":938.8889083862305,"y":115.5555534362793,"z":"a3f0f6f.f5c0f08","wires":[]},{"id":"1a87f0b.fe5780f","type":"inject","name":"Check Alarm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 8-17 * * 1-5","once":false,"x":157.77777862548828,"y":420.55556201934814,"z":"d701228b.28fee","wires":[["51279e8d.aed86"]]},{"id":"51279e8d.aed86","type":"http request","name":"Call Dashboard","method":"GET","url":"http://localhost:8080/dashboard","x":327.0833511352539,"y":489.44443130493164,"z":"d701228b.28fee","wires":[["913d9f7f.6ec26"]]},{"id":"913d9f7f.6ec26","type":"function","name":"Set Alarm","func":"var json = JSON.parse(msg.payload);\n\nif(typeof context.global.alarm === \"undefined\"){\n\tcontext.global.alarm = json.panes[2].widgets[0].settings.value;\n}\nif(context.global.alarm != json.panes[2].widgets[0].settings.value){\n\tcontext.global.alarm = json.panes[2].widgets[0].settings.value;\n}\nmsg.payload = context.global.alarm;\nreturn msg;","outputs":1,"x":511.3888854980469,"y":490.55555152893066,"z":"d701228b.28fee","wires":[["9bd3487.f642cb8"]]},{"id":"9bd3487.f642cb8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":681.8055629730225,"y":557.222222328186,"z":"d701228b.28fee","wires":[]},{"id":"a882288d.577dd8","type":"inject","name":"Fire Every Minute","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 8-23,0-6 * * 1-5","once":false,"x":154.44444274902344,"y":108.88890075683594,"z":"d701228b.28fee","wires":[["11f55156.ee0aaf"]]},{"id":"11f55156.ee0aaf","type":"function","name":"Check Time","func":"if (typeof context.global.alarm === \"undefined\"){\n} \nelse{\n\tvar currentdate = new Date();\n\tvar alarm = context.global.alarm.split(\":\"); \n\tif(alarm[0] == currentdate.getHours() && alarm[1] == currentdate.getMinutes()){\n\t\tmsg.payload = true;\n\t}\n\telse{\n\t\tmsg.payload = false;\n\t}\n\treturn msg;\n}","outputs":1,"x":344.4444351196289,"y":180.0000228881836,"z":"d701228b.28fee","wires":[["efd1d326.102e3","9bd3487.f642cb8"]]},{"id":"efd1d326.102e3","type":"switch","name":"Check Time","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":522.2221794128418,"y":179.9999771118164,"z":"d701228b.28fee","wires":[["da322877.25cdd8"]]},{"id":"da322877.25cdd8","type":"function","name":"Call Audio Service","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Alarm\";\nreturn msg;","outputs":1,"x":702.2222671508789,"y":246.66665077209473,"z":"d701228b.28fee","wires":[["cdcfffeb.323"]]},{"id":"cdcfffeb.323","type":"http request","name":"","method":"POST","url":"","x":899.9999656677246,"y":246.66666913032532,"z":"d701228b.28fee","wires":[[]]}]