Node Red/flows.backup
[{"type":"tab","id":"49bc2521.b643dc","label":"Sheet 1"},{"type":"tab","id":"757e065d.8a81f8","label":"Sheet 2"},{"type":"tab","id":"a37b7238.5c849","label":"Sheet 3"},{"type":"tab","id":"a3f0f6f.f5c0f08","label":"Sheet 4"},{"type":"tab","id":"d701228b.28fee","label":"Sheet 5"},{"type":"tab","id":"d087afc0.2f785","label":"Sheet 6"},{"id":"ccf4a74a.330b58","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"97785c72.6887a","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"e59d6920.1a6298","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"b5b85246.4a47b","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"1d92b307.e26d4d","type":"websocket-listener","path":"/simulator","wholemsg":"false"},{"id":"c8a1051a.375ef8","type":"mqtt-broker","broker":"tcp://localhost:1883","port":"1883","clientid":""},{"id":"e66eb942.199148","type":"mqtt-broker","broker":"tcp://localhost","port":"1883","clientid":""},{"id":"c3e1a7c.f3c1e58","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"6dc97c56.923684","type":"websocket-listener","path":"ws://localhost:1880/simulator","wholemsg":"true"},{"id":"3fd7311e.c028ce","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"35c57467.ca3a8c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"nodered"},{"id":"54595304.aba6ac","type":"mqtt in","name":"sensor_r1","topic":"r1/sensor","broker":"ccf4a74a.330b58","x":89,"y":108,"z":"49bc2521.b643dc","wires":[["22bd5a03.dd42a6","c748c9a4.38b738","83f7270a.7c08d8"]]},{"id":"22bd5a03.dd42a6","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":317,"y":71,"z":"49bc2521.b643dc","wires":[["e5f269a1.1a0d98"]]},{"id":"c748c9a4.38b738","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":317,"y":107,"z":"49bc2521.b643dc","wires":[["29c982f8.d6367e"]]},{"id":"83f7270a.7c08d8","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":315,"y":143,"z":"49bc2521.b643dc","wires":[["c2536aa7.3dac98"]]},{"id":"e5f269a1.1a0d98","type":"function","name":"r1_max_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":546,"y":72,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"a5915a4b.5a6ea8","type":"websocket out","name":"expose","server":"1d92b307.e26d4d","x":862,"y":484,"z":"49bc2521.b643dc","wires":[]},{"id":"29c982f8.d6367e","type":"function","name":"r1_min_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":546,"y":107,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c2536aa7.3dac98","type":"function","name":"r1_avg_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":545,"y":143,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"833b8675.7cc478","type":"mqtt in","name":"sensor_r2","topic":"r2/sensor","broker":"ccf4a74a.330b58","x":90,"y":226,"z":"49bc2521.b643dc","wires":[["47d6804e.b8298","b6adcbd7.495238","4694d38f.b96b2c"]]},{"id":"47d6804e.b8298","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":311,"y":190,"z":"49bc2521.b643dc","wires":[["fd03a8a3.02fc58"]]},{"id":"b6adcbd7.495238","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":309,"y":225,"z":"49bc2521.b643dc","wires":[["c6d05232.392fb"]]},{"id":"4694d38f.b96b2c","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":310,"y":260,"z":"49bc2521.b643dc","wires":[["4b5b35a3.b4a4cc"]]},{"id":"fd03a8a3.02fc58","type":"function","name":"r2_max_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":541,"y":190,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c6d05232.392fb","type":"function","name":"r2_min_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":540,"y":225,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"4b5b35a3.b4a4cc","type":"function","name":"r2_avg_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":539,"y":260,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"1eade39.fe1521c","type":"mqtt in","name":"sensor_r3","topic":"r3/sensor","broker":"ccf4a74a.330b58","x":92,"y":339,"z":"49bc2521.b643dc","wires":[["b4ad53a2.4b52b","7115eacd.8eea14","de55cd42.21aa3"]]},{"id":"b4ad53a2.4b52b","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":309,"y":309,"z":"49bc2521.b643dc","wires":[["f0bcd485.0f4328"]]},{"id":"7115eacd.8eea14","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":308,"y":344,"z":"49bc2521.b643dc","wires":[["99396e56.66c69"]]},{"id":"de55cd42.21aa3","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":307,"y":379,"z":"49bc2521.b643dc","wires":[["20b81928.df47e6"]]},{"id":"f0bcd485.0f4328","type":"function","name":"r3_max_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":538,"y":309,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"99396e56.66c69","type":"function","name":"r3_min_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":535,"y":344,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"20b81928.df47e6","type":"function","name":"r3_avg_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":533,"y":379,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"22f0d947.dd0f26","type":"mqtt in","name":"sensor_r4","topic":"r4/sensor","broker":"ccf4a74a.330b58","x":96,"y":459,"z":"49bc2521.b643dc","wires":[["f77116f2.088ee8","becc4e7d.4133b","796063fb.869f9c"]]},{"id":"f77116f2.088ee8","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":305,"y":432,"z":"49bc2521.b643dc","wires":[["228e03d3.dd71fc"]]},{"id":"228e03d3.dd71fc","type":"function","name":"r4_max_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":534,"y":432,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"becc4e7d.4133b","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":300,"y":466,"z":"49bc2521.b643dc","wires":[["e8ee836d.17118"]]},{"id":"e8ee836d.17118","type":"function","name":"r4_min_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":533,"y":466,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"796063fb.869f9c","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":298,"y":501,"z":"49bc2521.b643dc","wires":[["de527c16.21ad8"]]},{"id":"de527c16.21ad8","type":"function","name":"r4_avg_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":531,"y":501,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"1ce97d6c.e31683","type":"mqtt in","name":"state_r1","topic":"r1/state","broker":"ccf4a74a.330b58","x":89,"y":550,"z":"49bc2521.b643dc","wires":[["d146774b.2eb988"]]},{"id":"d146774b.2eb988","type":"function","name":"r1_state_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":526,"y":550,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"bd956483.426a98","type":"function","name":"r2_state_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":526,"y":585,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"62ce2d06.9d31d4","type":"function","name":"r3_state_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":528,"y":620,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c6ea1029.3915f","type":"mqtt in","name":"state_r2","topic":"r2/state","broker":"ccf4a74a.330b58","x":91,"y":585,"z":"49bc2521.b643dc","wires":[["bd956483.426a98"]]},{"id":"6036ca37.9fc934","type":"mqtt in","name":"state_r3","topic":"r3/state","broker":"ccf4a74a.330b58","x":91,"y":619,"z":"49bc2521.b643dc","wires":[["62ce2d06.9d31d4"]]},{"id":"a5ece9ac.5a1318","type":"mqtt in","name":"state_r4","topic":"r4/state","broker":"ccf4a74a.330b58","x":91,"y":653,"z":"49bc2521.b643dc","wires":[["6d3f099d.92c0f8"]]},{"id":"6d3f099d.92c0f8","type":"function","name":"r4_state_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":527,"y":655,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c22c536.f3dd3b","type":"mqtt in","name":"car_r1","topic":"r1/car","broker":"ccf4a74a.330b58","x":88,"y":714,"z":"49bc2521.b643dc","wires":[["eaa42985.155bd8"]]},{"id":"25584892.daa7b8","type":"mqtt in","name":"car_r2","topic":"r2/car","broker":"ccf4a74a.330b58","x":89,"y":750,"z":"49bc2521.b643dc","wires":[["a0554db7.5faab"]]},{"id":"91ba5321.6e45b","type":"mqtt in","name":"car_r3","topic":"r3/car","broker":"ccf4a74a.330b58","x":88,"y":786,"z":"49bc2521.b643dc","wires":[["94a1e77b.6b5e18"]]},{"id":"d7e3d179.281c3","type":"mqtt in","name":"car_r4","topic":"r4/car","broker":"ccf4a74a.330b58","x":88,"y":822,"z":"49bc2521.b643dc","wires":[["24b54d49.db4ab2"]]},{"id":"eaa42985.155bd8","type":"function","name":"r1_car_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":714,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"a0554db7.5faab","type":"function","name":"r2_car_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":750,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"94a1e77b.6b5e18","type":"function","name":"r3_car_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":786,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"24b54d49.db4ab2","type":"function","name":"r4_car_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":523,"y":822,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"2a00e719.d5ff18","type":"debug","name":"debug","active":true,"console":"true","complete":"false","x":725,"y":232,"z":"757e065d.8a81f8","wires":[]},{"id":"81bc1ffd.7e43e","type":"mqtt in","name":"movement_sensor","topic":"/some-unique-name-or-id-from-this-config/DummyDevice/RandomStream","broker":"ccf4a74a.330b58","x":138,"y":99,"z":"757e065d.8a81f8","wires":[["ae030a9d.51fcf8"]]},{"id":"52323c79.adcdc4","type":"http request","name":"","method":"POST","url":"","x":754,"y":99,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"2df4e53d.d20b1a","type":"function","name":"Prepare HTTP Request","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Guten Morgen\";\nreturn msg;","outputs":1,"x":532,"y":99,"z":"757e065d.8a81f8","wires":[["52323c79.adcdc4"]]},{"id":"ae030a9d.51fcf8","type":"function","name":"check_time","func":"var json = JSON.parse(msg.payload);\nif(context.global.playMsg && json.e.bv){ \n\tcontext.global.playMsg = false;\n\treturn msg;\n}","outputs":1,"x":307,"y":98,"z":"757e065d.8a81f8","wires":[["2df4e53d.d20b1a","2a00e719.d5ff18"]]},{"id":"ffbf9431.004068","type":"inject","name":"entry time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"56 17 * * *","once":false,"x":212,"y":233,"z":"757e065d.8a81f8","wires":[["75cc0022.8a34"]]},{"id":"75cc0022.8a34","type":"function","name":"setPlayMsg","func":"//if(typeof context.global.playMsg === \"undefined\"){\n\tcontext.global.playMsg = true;\n//}\nif(context.global.playMsg){\n\tmsg.payload = context.global.playMsg;\n}\n\t\nreturn msg;","outputs":1,"x":372,"y":233,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"a56aef18.5a951","type":"inject","name":"check_office_time","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"x":200,"y":462,"z":"757e065d.8a81f8","wires":[["e9ca9008.16357"]]},{"id":"e9ca9008.16357","type":"http request","name":"call_dashboard","method":"GET","url":"http://localhost:8080/dashboard","x":437,"y":462,"z":"757e065d.8a81f8","wires":[["abdcea94.542318"]]},{"id":"abdcea94.542318","type":"function","name":"set_office_time","func":"var json = JSON.parse(msg.payload);\n\nif(typeof context.global.officeTime === \"undefined\"){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nif(context.global.officeTime != json.panes[0].widgets[0].settings.value){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nmsg.payload = context.global.officeTime;\nreturn msg;","outputs":1,"x":659,"y":461,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"3e17c7c3.c1e838","type":"mqtt in","name":"movement_sensor","topic":"/some-unique-name-or-id-from-this-config/DummyDevice/RandomStream","broker":"ccf4a74a.330b58","x":125,"y":149,"z":"a37b7238.5c849","wires":[["2fb70f3.fd048f"]]},{"id":"ab8cbec7.54734","type":"inject","name":"Trigger Every Minute","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 8-17 * * *","once":false,"x":145.75000190734863,"y":520.2500076293945,"z":"a37b7238.5c849","wires":[["12c0aaa1.ed3f55"]]},{"id":"dee55383.211ab","type":"debug","name":"","active":true,"console":"false","complete":"false","x":776.3214530944824,"y":518.9999732971191,"z":"a37b7238.5c849","wires":[]},{"id":"f3b328bb.0c4cd8","type":"switch","name":"isMovement","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":516,"y":151,"z":"a37b7238.5c849","wires":[["a22e2679.5dd1d8"]]},{"id":"2fb70f3.fd048f","type":"function","name":"get_movement","func":"var json = JSON.parse(msg.payload);\nmsg.payload = json.e.bv;\nreturn msg;","outputs":1,"x":322,"y":150,"z":"a37b7238.5c849","wires":[["f3b328bb.0c4cd8"]]},{"id":"a22e2679.5dd1d8","type":"function","name":"check_time","func":"if (typeof context.global.alarm === \"undefined\"){\n\tcontext.global.alarm = true;\n} \nif (typeof context.global.officeTime === \"undefined\"){\n\tcontext.global.officeTime = \"09:00\";\n} \nvar currentdate = new Date();\nvar alarm = context.global.officeTime.split(\":\"); \nif(alarm[0] == currentdate.getHours() && alarm[1] == currentdate.getMinutes() && context.global.alarm){\n\tmsg.payload = true;\n\tcontext.global.alarm = false;\n}\nelse if(alarm[0] != currentdate.getHours() && !context.global.alarm){\n\tmsg.payload = false;\n\tcontext.global.alarm = true;\n}\nelse{\n\tmsg.payload = false;\n}\nreturn msg;","outputs":1,"x":536,"y":237,"z":"a37b7238.5c849","wires":[["3bd03a17.c42fc6","dee55383.211ab"]]},{"id":"3bd03a17.c42fc6","type":"switch","name":"isTime","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":725,"y":238,"z":"a37b7238.5c849","wires":[["8708d923.78f728"]]},{"id":"8708d923.78f728","type":"function","name":"call_audio_service","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Guten Morgen\";\nreturn msg;","outputs":1,"x":534,"y":348,"z":"a37b7238.5c849","wires":[["72b5e01f.8d4a2"]]},{"id":"72b5e01f.8d4a2","type":"http request","name":"","method":"POST","url":"","x":724,"y":348,"z":"a37b7238.5c849","wires":[[]]},{"id":"cbbcaf18.34435","type":"inject","name":"Get Weather","topic":"","payload":"1","payloadType":"string","repeat":"0","crontab":"15 6 * * *","once":false,"x":373.5158882141113,"y":392.9682140350342,"z":"a3f0f6f.f5c0f08","wires":[["742c9e8c.8bd36"]]},{"id":"742c9e8c.8bd36","type":"http request","name":"BBC Weather","method":"GET","url":"http://open.live.bbc.co.uk/weather/feeds/en/2946447/observations.rss","x":554.4048233032227,"y":392.9682312011719,"z":"a3f0f6f.f5c0f08","wires":[["a214393e.5debc8"]]},{"id":"f59e3789.0a61c8","type":"function","name":"Parse Weather","func":"var weatherChannel = msg.payload.rss.channel[0];\nvar description = weatherChannel.item[0].description[0];\nmsg.payload = description;\nmsg.type = \"business\";\nreturn msg;","outputs":"1","x":902.9603500366211,"y":393.5237693786621,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"a214393e.5debc8","type":"xml","name":"","x":740.0715103149414,"y":393.52376556396484,"z":"a3f0f6f.f5c0f08","wires":[["f59e3789.0a61c8"]]},{"id":"6c32d2f7.93cd2c","type":"function","name":"call_audio_service","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\n\nif(typeof msg.payload == 'string' || msg.payload instanceof String){\n\tmsg.payload = msg.payload.replace(\"-\", \"minus \");\n}\nreturn msg;","outputs":1,"x":821.8493385314941,"y":145.412691116333,"z":"a3f0f6f.f5c0f08","wires":[["8ae11c2a.751ee"]]},{"id":"8ae11c2a.751ee","type":"http request","name":"Audio Service","method":"POST","url":"","x":968.182674407959,"y":256.52379989624023,"z":"a3f0f6f.f5c0f08","wires":[["f22f9c36.0dd06","1965851f.e69a7b"]]},{"id":"4592a65f.ba6d58","type":"inject","name":"","topic":"Get Business","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":374.7380962371826,"y":434.6349067687988,"z":"a3f0f6f.f5c0f08","wires":[["10bbcda.fef4432"]]},{"id":"10bbcda.fef4432","type":"http request","name":"BBC Business","method":"GET","url":"http://feeds.bbci.co.uk/news/business/rss.xml","x":561.6270198822021,"y":434.5237946510315,"z":"a3f0f6f.f5c0f08","wires":[["85917343.7a6e9"]]},{"id":"85917343.7a6e9","type":"xml","name":"","x":740.9603576660156,"y":434.52377796173096,"z":"a3f0f6f.f5c0f08","wires":[["d33b6103.2cc4a"]]},{"id":"d33b6103.2cc4a","type":"function","name":"Parse Business","func":"var businessChannel = msg.payload.rss.channel[0];\nvar description1 = businessChannel.item[0].description[0];\nvar description2 = businessChannel.item[1].description[0];\nvar description3 = businessChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"politics\";\nreturn msg;","outputs":1,"x":905.9603652954102,"y":434.52382469177246,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"8b98bb40.746748","type":"inject","name":"","topic":"Get Politics","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":371.62700271606445,"y":477.8572177886963,"z":"a3f0f6f.f5c0f08","wires":[["477d03f9.b882fc"]]},{"id":"477d03f9.b882fc","type":"http request","name":"BBC Politics","method":"GET","url":"http://feeds.bbci.co.uk/news/politics/rss.xml","x":560.5159072875977,"y":477.8571090698242,"z":"a3f0f6f.f5c0f08","wires":[["e8491ac2.17b6e8"]]},{"id":"e8491ac2.17b6e8","type":"xml","name":"","x":743.8492126464844,"y":477.85719871520996,"z":"a3f0f6f.f5c0f08","wires":[["56971bd0.a968e4"]]},{"id":"56971bd0.a968e4","type":"function","name":"Parse Politics","func":"var politicsChannel = msg.payload.rss.channel[0];\nvar description1 = politicsChannel.item[0].description[0];\nvar description2 = politicsChannel.item[1].description[0];\nvar description3 = politicsChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"health\";\nreturn msg;","outputs":1,"x":900.5158195495605,"y":476.7460322380066,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"f0fb7768.0f0488","type":"inject","name":"Get Health","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":368.29368591308594,"y":520.0792787075043,"z":"a3f0f6f.f5c0f08","wires":[["43f8958.fbc076c"]]},{"id":"43f8958.fbc076c","type":"http request","name":"BBC Health","method":"GET","url":"http://feeds.bbci.co.uk/news/health/rss.xml","x":557.1825485229492,"y":520.0795030593872,"z":"a3f0f6f.f5c0f08","wires":[["58101873.a7efe8"]]},{"id":"58101873.a7efe8","type":"xml","name":"","x":743.8492546081543,"y":520.0793600082397,"z":"a3f0f6f.f5c0f08","wires":[["cf3f04a5.30c0f8"]]},{"id":"cf3f04a5.30c0f8","type":"function","name":"Parse Health","func":"var healthChannel = msg.payload.rss.channel[0];\nvar description1 = healthChannel.item[0].description[0];\nvar description2 = healthChannel.item[1].description[0];\nvar description3 = healthChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"education\";\nreturn msg;","outputs":1,"x":903.8492622375488,"y":520.0793809890747,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"186cc578.e7933b","type":"inject","name":"Get Education","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":381.6270160675049,"y":560.0792789459229,"z":"a3f0f6f.f5c0f08","wires":[["6eb580d6.914a8"]]},{"id":"6eb580d6.914a8","type":"http request","name":"BBC Education","method":"GET","url":"http://feeds.bbci.co.uk/news/education/rss.xml","x":571.6270084381104,"y":560.0794105529785,"z":"a3f0f6f.f5c0f08","wires":[["2c64a72a.d39b58"]]},{"id":"2c64a72a.d39b58","type":"xml","name":"","x":741.6269760131836,"y":560.0793352127075,"z":"a3f0f6f.f5c0f08","wires":[["acc278e7.533d88"]]},{"id":"acc278e7.533d88","type":"function","name":"Parse Education","func":"var eduChannel = msg.payload.rss.channel[0];\nvar description1 = eduChannel.item[0].description[0];\nvar description2 = eduChannel.item[1].description[0];\nvar description3 = eduChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"science\";\nreturn msg;","outputs":1,"x":917.182544708252,"y":560.0793838500977,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"4fe2e50b.b01d1c","type":"inject","name":"Get Science","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":377.1825370788574,"y":602.3015518188477,"z":"a3f0f6f.f5c0f08","wires":[["22cd65b6.dd329a"]]},{"id":"22cd65b6.dd329a","type":"http request","name":"BBC Science","method":"GET","url":"http://feeds.bbci.co.uk/news/science_and_environment/rss.xml","x":563.8492469787598,"y":602.301510810852,"z":"a3f0f6f.f5c0f08","wires":[["20f398da.df0c68"]]},{"id":"20f398da.df0c68","type":"xml","name":"","x":739.4048767089844,"y":602.3015251159668,"z":"a3f0f6f.f5c0f08","wires":[["eac78aca.153878"]]},{"id":"eac78aca.153878","type":"function","name":"Parse Science","func":"var scienceChannel = msg.payload.rss.channel[0];\nvar description1 = scienceChannel.item[0].description[0];\nvar description2 = scienceChannel.item[1].description[0];\nvar description3 = scienceChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"technology\";\nreturn msg;","outputs":1,"x":913.849178314209,"y":602.3015184402466,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"2f96e313.d0691c","type":"inject","name":"Get Technology","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":386.0714302062988,"y":647.8571090698242,"z":"a3f0f6f.f5c0f08","wires":[["e34c2115.1cb3e"]]},{"id":"e34c2115.1cb3e","type":"http request","name":"BBC Technology","method":"GET","url":"http://feeds.bbci.co.uk/news/technology/rss.xml","x":576.0714836120605,"y":647.8571434020996,"z":"a3f0f6f.f5c0f08","wires":[["4110e1b5.beef2"]]},{"id":"4110e1b5.beef2","type":"xml","name":"","x":740.515926361084,"y":647.8571300506592,"z":"a3f0f6f.f5c0f08","wires":[["567075e6.a98f8c"]]},{"id":"567075e6.a98f8c","type":"function","name":"Parse Technology","func":"var techChannel = msg.payload.rss.channel[0];\nvar description1 = techChannel.item[0].description[0];\nvar description2 = techChannel.item[1].description[0];\nvar description3 = techChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\nmsg.type = \"entertainment\";\nreturn msg;","outputs":1,"x":923.8492660522461,"y":647.8571243286133,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"e2943aa8.1d6bc8","type":"inject","name":"Get Entertainment","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":394.96035385131836,"y":693.4126873016357,"z":"a3f0f6f.f5c0f08","wires":[["fe2dd16a.01d23"]]},{"id":"fe2dd16a.01d23","type":"http request","name":"BBC Entertainment","method":"GET","url":"http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml","x":588.2937164306641,"y":693.4126586914062,"z":"a3f0f6f.f5c0f08","wires":[["939a590.f6c65a8"]]},{"id":"939a590.f6c65a8","type":"xml","name":"","x":744.9604377746582,"y":694.5238666534424,"z":"a3f0f6f.f5c0f08","wires":[["94785e31.6b87a"]]},{"id":"94785e31.6b87a","type":"function","name":"Parse Entertainment","func":"var entertainmentChannel = msg.payload.rss.channel[0];\nvar description1 = entertainmentChannel.item[0].description[0];\nvar description2 = entertainmentChannel.item[1].description[0];\nvar description3 = entertainmentChannel.item[2].description[0];\n\nmsg.payload = [description1, description2, description3];\ndelete msg.type;\nreturn msg;","outputs":1,"x":930.5159378051758,"y":693.4126930236816,"z":"a3f0f6f.f5c0f08","wires":[["6c32d2f7.93cd2c"]]},{"id":"b3717f69.4c8e8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.9880771636963,"y":33.690473556518555,"z":"a3f0f6f.f5c0f08","wires":[["d81e79f3.27e188"]]},{"id":"1965851f.e69a7b","type":"function","name":"Configuration Router","func":"delete msg.headers;\ndelete msg.statusCode;\ndelete msg.method;\ndelete msg.url;\nif(msg.type == \"weather\"){\n\treturn [msg, null, null, null, null, null, null, null];\n}\nelse if(msg.type == \"business\"){\n\treturn [null, msg, null, null, null, null, null, null];\n}\nelse if(msg.type == \"politics\"){\n\treturn [null, null, msg, null, null, null, null, null];\n}\nelse if(msg.type == \"health\"){\n\treturn [null, null, null, msg, null, null, null, null];\n}\nelse if(msg.type == \"education\"){\n\treturn [null, null, null, null, msg, null, null, null];\n}\nelse if(msg.type == \"science\"){\n\treturn [null, null, null, null, null, msg, null, null];\n}\nelse if(msg.type == \"technology\"){\n\treturn [null, null, null, null, null, null, msg, null];\n}\nelse if(msg.type == \"entertainment\"){\n\treturn [null, null, null, null, null, null, null, msg];\n}","outputs":"9","x":531.9048309326172,"y":182.85713577270508,"z":"a3f0f6f.f5c0f08","wires":[["e9a07eea.165f8"],["e2b31a41.1d4ce8"],["a3e1c7d1.5c1e38"],["949cdbb7.6b6328"],["c0cd7ec6.3f328"],["121cdb27.ede325"],["d65e1a82.29a1e8"],["50aa7af2.af5584"],[]]},{"id":"e9a07eea.165f8","type":"function","name":"Check Weather","func":"if(context.global.config.indexOf(\"weather\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"business\";\n\treturn [null, msg];\n}","outputs":"2","x":144.51586532592773,"y":400.63489151000977,"z":"a3f0f6f.f5c0f08","wires":[["742c9e8c.8bd36"],["1965851f.e69a7b"]]},{"id":"e2b31a41.1d4ce8","type":"function","name":"Check Business","func":"if(context.global.config.indexOf(\"business\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"politics\";\n\treturn [null, msg];\n}","outputs":"2","x":146.3492317199707,"y":438.41268157958984,"z":"a3f0f6f.f5c0f08","wires":[["10bbcda.fef4432"],["1965851f.e69a7b"]]},{"id":"a3e1c7d1.5c1e38","type":"function","name":"Check Politics","func":"if(context.global.config.indexOf(\"politics\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"health\";\n\treturn [null, msg];\n}","outputs":"2","x":139.68249130249023,"y":478.4127731323242,"z":"a3f0f6f.f5c0f08","wires":[["477d03f9.b882fc"],["1965851f.e69a7b"]]},{"id":"949cdbb7.6b6328","type":"function","name":"Check Health","func":"if(context.global.config.indexOf(\"health\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"education\";\n\treturn [null, msg];\n}","outputs":"2","x":136.34919357299805,"y":518.4127140045166,"z":"a3f0f6f.f5c0f08","wires":[["43f8958.fbc076c"],["1965851f.e69a7b"]]},{"id":"c0cd7ec6.3f328","type":"function","name":"Check Education","func":"if(context.global.config.indexOf(\"education\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"science\";\n\treturn [null, msg];\n}","outputs":"2","x":148.57141494750977,"y":557.3015441894531,"z":"a3f0f6f.f5c0f08","wires":[["6eb580d6.914a8"],["1965851f.e69a7b"]]},{"id":"121cdb27.ede325","type":"function","name":"Check Science","func":"if(context.global.config.indexOf(\"science\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"technology\";\n\treturn [null, msg];\n}","outputs":"2","x":141.9047508239746,"y":603.9681987762451,"z":"a3f0f6f.f5c0f08","wires":[["22cd65b6.dd329a"],["1965851f.e69a7b"]]},{"id":"d65e1a82.29a1e8","type":"function","name":"Check Technology","func":"if(context.global.config.indexOf(\"technology\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tmsg.type = \"entertainment\";\n\treturn [null, msg];\n}","outputs":"2","x":151.90473556518555,"y":648.412787437439,"z":"a3f0f6f.f5c0f08","wires":[["e34c2115.1cb3e"],["1965851f.e69a7b"]]},{"id":"50aa7af2.af5584","type":"function","name":"Check Entertainment","func":"if(context.global.config.indexOf(\"entertainment\") > -1){\n\treturn [msg, null];\n}\nelse{\n\tdelete msg.type;\n\treturn [null, msg];\n}","outputs":"2","x":161.90475845336914,"y":693.9682846069336,"z":"a3f0f6f.f5c0f08","wires":[["fe2dd16a.01d23"],["1965851f.e69a7b"]]},{"id":"f22f9c36.0dd06","type":"debug","name":"","active":true,"console":"false","complete":"false","x":987.4603233337402,"y":58.412689208984375,"z":"a3f0f6f.f5c0f08","wires":[]},{"id":"1a87f0b.fe5780f","type":"inject","name":"Check Alarm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 8-17 * * 1-5","once":false,"x":157.77777862548828,"y":420.55556201934814,"z":"d701228b.28fee","wires":[["6657f5ee.99a80c"]]},{"id":"9bd3487.f642cb8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":681.8055629730225,"y":557.222222328186,"z":"d701228b.28fee","wires":[]},{"id":"a882288d.577dd8","type":"inject","name":"Fire Every Minute","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 8-23,0-6 * * 1-5","once":false,"x":154.44444274902344,"y":108.88890075683594,"z":"d701228b.28fee","wires":[["11f55156.ee0aaf"]]},{"id":"11f55156.ee0aaf","type":"function","name":"Check Time","func":"if (typeof context.global.timealarm === \"undefined\"){\n} \nelse{\n\tvar currentdate = new Date();\n\tif (context.global.timealarm.indexOf(\":\") >= 0){\n\t\tvar alarm = context.global.timealarm.split(\":\"); \n\t\tif(alarm[0] == currentdate.getHours() && alarm[1] == currentdate.getMinutes()){\n\t\t\tmsg.payload = true;\n\t\t}\n\t\telse{\n\t\t\tmsg.payload = false;\n\t\t}\n\t\treturn msg;\n\t}\n}","outputs":1,"x":344.4444351196289,"y":180.0000228881836,"z":"d701228b.28fee","wires":[["efd1d326.102e3"]]},{"id":"efd1d326.102e3","type":"switch","name":"isTime","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":522.2221794128418,"y":179.9999771118164,"z":"d701228b.28fee","wires":[["da322877.25cdd8"]]},{"id":"da322877.25cdd8","type":"function","name":"Call Audio Service","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Alarm\";\nreturn msg;","outputs":1,"x":702.2222671508789,"y":246.66665077209473,"z":"d701228b.28fee","wires":[["cdcfffeb.323"]]},{"id":"cdcfffeb.323","type":"http request","name":"","method":"POST","url":"","x":899.9999656677246,"y":246.66666913032532,"z":"d701228b.28fee","wires":[[]]},{"id":"842844a1.7bd7b8","type":"http in","name":"Recieve Write Request","url":"/writeFile","method":"post","x":160,"y":120,"z":"d087afc0.2f785","wires":[["69c532c2.963acc"]]},{"id":"654c192d.9ab3e8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":595.0000076293945,"y":353.75000381469727,"z":"d087afc0.2f785","wires":[]},{"id":"9aa5ca2c.655a38","type":"file in","name":"Read Office Time","filename":"office_time","format":"utf8","x":401.25000762939453,"y":313.75000381469727,"z":"d087afc0.2f785","wires":[["654c192d.9ab3e8"]]},{"id":"77c3ba3f.883c44","type":"file","name":"Write To File","filename":"","appendNewline":false,"overwriteFile":true,"x":550.0000686645508,"y":120.00000953674316,"z":"d087afc0.2f785","wires":[]},{"id":"a10145e2.5efeb8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172.50000381469727,"y":353.75000381469727,"z":"d087afc0.2f785","wires":[["9aa5ca2c.655a38","53663cd0.ac99c4","2317ff69.dce8"]]},{"id":"69c532c2.963acc","type":"function","name":"Set Params","func":"msg.filename = msg.payload.type;\nmsg.payload = msg.payload.data;\nreturn msg;","outputs":1,"x":370.00000762939453,"y":120.00000190734863,"z":"d087afc0.2f785","wires":[["77c3ba3f.883c44"]]},{"id":"53663cd0.ac99c4","type":"file in","name":"Read News","filename":"news","format":"utf8","x":388.7500057220459,"y":355.0000066757202,"z":"d087afc0.2f785","wires":[["654c192d.9ab3e8"]]},{"id":"2317ff69.dce8","type":"file in","name":"","filename":"alarm","format":"utf8","x":378.7500057220459,"y":395.0000057220459,"z":"d087afc0.2f785","wires":[["654c192d.9ab3e8"]]},{"id":"12c0aaa1.ed3f55","type":"file in","name":"Read Office Time","filename":"office_time","format":"utf8","x":378.57144927978516,"y":519.9999732971191,"z":"a37b7238.5c849","wires":[["916415e2.6e9be8"]]},{"id":"916415e2.6e9be8","type":"function","name":"Set Office Time","func":"context.global.officeTime = msg.payload;\ncontext.global.alarm = true;\nreturn msg;","outputs":1,"x":579.8214492797852,"y":519.9999732971191,"z":"a37b7238.5c849","wires":[["dee55383.211ab"]]},{"id":"d81e79f3.27e188","type":"file in","name":"Read News Config","filename":"news","format":"utf8","x":362.3214225769043,"y":34.10713768005371,"z":"a3f0f6f.f5c0f08","wires":[["5de7c103.a2184"]]},{"id":"5de7c103.a2184","type":"function","name":"Set Configurations","func":"context.global.config = msg.payload.split(\",\");\nmsg.type = \"weather\";\nreturn msg;","outputs":1,"x":243.57141876220703,"y":182.85713958740234,"z":"a3f0f6f.f5c0f08","wires":[["1965851f.e69a7b"]]},{"id":"e1c91f05.1e36e","type":"function","name":"Set Alarm","func":"if(msg.payload)\n{\n\tcontext.global.timealarm = msg.payload;\n}\nreturn msg;","outputs":1,"x":506.25,"y":502.5,"z":"d701228b.28fee","wires":[["9bd3487.f642cb8"]]},{"id":"6657f5ee.99a80c","type":"file in","name":"Read Alarm","filename":"alarm","format":"utf8","x":340.00000381469727,"y":448.7500066757202,"z":"d701228b.28fee","wires":[["e1c91f05.1e36e"]]},{"id":"65272fd5.9ad8d","type":"exec","command":"pkill 'say'","append":"","useSpawn":"","name":"Kill Say","x":994.7498931884766,"y":860.6072273254395,"z":"a3f0f6f.f5c0f08","wires":[[],[],[]]},{"id":"484795e5.b7b86c","type":"file in","name":"Read News Config","filename":"news","format":"utf8","x":362.2856750488281,"y":788.0000305175781,"z":"a3f0f6f.f5c0f08","wires":[["24b2b4db.db4d4c"]]},{"id":"cf34ccdb.30cb3","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130.85710906982422,"y":789.4286022186279,"z":"a3f0f6f.f5c0f08","wires":[["484795e5.b7b86c"]]},{"id":"b6d939ea.4926c8","type":"function","name":"++","func":"if ( (msg.i += 1) <= msg.items.length+1 ) return msg;","outputs":"1","x":579.9999542236328,"y":860.285816192627,"z":"a3f0f6f.f5c0f08","wires":[["38e427b3.c71bd8"]]},{"id":"24b2b4db.db4d4c","type":"function","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload.split(\",\");\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"x":607.1428756713867,"y":787.1429204940796,"z":"a3f0f6f.f5c0f08","wires":[["b6d939ea.4926c8"]]},{"id":"a2ca7e7e.5d358","type":"debug","name":"","active":true,"console":"false","complete":"false","x":984.8570098876953,"y":921.9999885559082,"z":"a3f0f6f.f5c0f08","wires":[]},{"id":"38e427b3.c71bd8","type":"delay","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":763.1427154541016,"y":859.7143440246582,"z":"a3f0f6f.f5c0f08","wires":[["65272fd5.9ad8d","a2ca7e7e.5d358","24b2b4db.db4d4c"]]},{"id":"1d734dce.e28cb2","type":"http in","name":"Request for Reading News","url":"/read","method":"post","x":148.57142857142856,"y":101.42857142857142,"z":"a3f0f6f.f5c0f08","wires":[["d81e79f3.27e188"]]},{"id":"204f0149.dfb0fe","type":"http in","name":"Request for Stop Reading News","url":"/stop","method":"post","x":142.8571319580078,"y":848.5713968276978,"z":"a3f0f6f.f5c0f08","wires":[["484795e5.b7b86c"]]}]