Node Red/flows.backup
[{"type":"tab","id":"49bc2521.b643dc","label":"Sheet 1"},{"type":"tab","id":"757e065d.8a81f8","label":"Sheet 2"},{"type":"tab","id":"a37b7238.5c849","label":"Sheet 3"},{"id":"ccf4a74a.330b58","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"97785c72.6887a","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"e59d6920.1a6298","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"b5b85246.4a47b","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"1d92b307.e26d4d","type":"websocket-listener","path":"/simulator","wholemsg":"false"},{"id":"c8a1051a.375ef8","type":"mqtt-broker","broker":"tcp://localhost:1883","port":"1883","clientid":""},{"id":"e66eb942.199148","type":"mqtt-broker","broker":"tcp://localhost","port":"1883","clientid":""},{"id":"c3e1a7c.f3c1e58","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"6dc97c56.923684","type":"websocket-listener","path":"ws://localhost:1880/simulator","wholemsg":"true"},{"id":"3fd7311e.c028ce","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"35c57467.ca3a8c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"nodered"},{"id":"54595304.aba6ac","type":"mqtt in","name":"sensor_r1","topic":"r1/sensor","broker":"ccf4a74a.330b58","x":89,"y":108,"z":"49bc2521.b643dc","wires":[["22bd5a03.dd42a6","c748c9a4.38b738","83f7270a.7c08d8"]]},{"id":"22bd5a03.dd42a6","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":317,"y":71,"z":"49bc2521.b643dc","wires":[["e5f269a1.1a0d98"]]},{"id":"c748c9a4.38b738","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":317,"y":107,"z":"49bc2521.b643dc","wires":[["29c982f8.d6367e"]]},{"id":"83f7270a.7c08d8","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":315,"y":143,"z":"49bc2521.b643dc","wires":[["c2536aa7.3dac98"]]},{"id":"e5f269a1.1a0d98","type":"function","name":"r1_max_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":546,"y":72,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"a5915a4b.5a6ea8","type":"websocket out","name":"expose","server":"1d92b307.e26d4d","x":862,"y":484,"z":"49bc2521.b643dc","wires":[]},{"id":"29c982f8.d6367e","type":"function","name":"r1_min_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":546,"y":107,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c2536aa7.3dac98","type":"function","name":"r1_avg_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":545,"y":143,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"833b8675.7cc478","type":"mqtt in","name":"sensor_r2","topic":"r2/sensor","broker":"ccf4a74a.330b58","x":90,"y":226,"z":"49bc2521.b643dc","wires":[["47d6804e.b8298","b6adcbd7.495238","4694d38f.b96b2c"]]},{"id":"47d6804e.b8298","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":311,"y":190,"z":"49bc2521.b643dc","wires":[["fd03a8a3.02fc58"]]},{"id":"b6adcbd7.495238","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":309,"y":225,"z":"49bc2521.b643dc","wires":[["c6d05232.392fb"]]},{"id":"4694d38f.b96b2c","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":310,"y":260,"z":"49bc2521.b643dc","wires":[["4b5b35a3.b4a4cc"]]},{"id":"fd03a8a3.02fc58","type":"function","name":"r2_max_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":541,"y":190,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c6d05232.392fb","type":"function","name":"r2_min_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":540,"y":225,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"4b5b35a3.b4a4cc","type":"function","name":"r2_avg_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":539,"y":260,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"1eade39.fe1521c","type":"mqtt in","name":"sensor_r3","topic":"r3/sensor","broker":"ccf4a74a.330b58","x":92,"y":339,"z":"49bc2521.b643dc","wires":[["b4ad53a2.4b52b","7115eacd.8eea14","de55cd42.21aa3"]]},{"id":"b4ad53a2.4b52b","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":309,"y":309,"z":"49bc2521.b643dc","wires":[["f0bcd485.0f4328"]]},{"id":"7115eacd.8eea14","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":308,"y":344,"z":"49bc2521.b643dc","wires":[["99396e56.66c69"]]},{"id":"de55cd42.21aa3","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":307,"y":379,"z":"49bc2521.b643dc","wires":[["20b81928.df47e6"]]},{"id":"f0bcd485.0f4328","type":"function","name":"r3_max_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":538,"y":309,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"99396e56.66c69","type":"function","name":"r3_min_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":535,"y":344,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"20b81928.df47e6","type":"function","name":"r3_avg_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":533,"y":379,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"22f0d947.dd0f26","type":"mqtt in","name":"sensor_r4","topic":"r4/sensor","broker":"ccf4a74a.330b58","x":96,"y":459,"z":"49bc2521.b643dc","wires":[["f77116f2.088ee8","becc4e7d.4133b","796063fb.869f9c"]]},{"id":"f77116f2.088ee8","type":"smooth","count":"60","action":"max","round":false,"name":"get_max","x":305,"y":432,"z":"49bc2521.b643dc","wires":[["228e03d3.dd71fc"]]},{"id":"228e03d3.dd71fc","type":"function","name":"r4_max_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"max\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":534,"y":432,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"becc4e7d.4133b","type":"smooth","count":"60","action":"min","round":false,"name":"get_min","x":300,"y":466,"z":"49bc2521.b643dc","wires":[["e8ee836d.17118"]]},{"id":"e8ee836d.17118","type":"function","name":"r4_min_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"min\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":533,"y":466,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"796063fb.869f9c","type":"smooth","count":"60","action":"mean","round":false,"name":"get_avg","x":298,"y":501,"z":"49bc2521.b643dc","wires":[["de527c16.21ad8"]]},{"id":"de527c16.21ad8","type":"function","name":"r4_avg_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"avg\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":531,"y":501,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"1ce97d6c.e31683","type":"mqtt in","name":"state_r1","topic":"r1/state","broker":"ccf4a74a.330b58","x":89,"y":550,"z":"49bc2521.b643dc","wires":[["d146774b.2eb988"]]},{"id":"d146774b.2eb988","type":"function","name":"r1_state_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":526,"y":550,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"bd956483.426a98","type":"function","name":"r2_state_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":526,"y":585,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"62ce2d06.9d31d4","type":"function","name":"r3_state_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":528,"y":620,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c6ea1029.3915f","type":"mqtt in","name":"state_r2","topic":"r2/state","broker":"ccf4a74a.330b58","x":91,"y":585,"z":"49bc2521.b643dc","wires":[["bd956483.426a98"]]},{"id":"6036ca37.9fc934","type":"mqtt in","name":"state_r3","topic":"r3/state","broker":"ccf4a74a.330b58","x":91,"y":619,"z":"49bc2521.b643dc","wires":[["62ce2d06.9d31d4"]]},{"id":"a5ece9ac.5a1318","type":"mqtt in","name":"state_r4","topic":"r4/state","broker":"ccf4a74a.330b58","x":91,"y":653,"z":"49bc2521.b643dc","wires":[["6d3f099d.92c0f8"]]},{"id":"6d3f099d.92c0f8","type":"function","name":"r4_state_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"state\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":527,"y":655,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"c22c536.f3dd3b","type":"mqtt in","name":"car_r1","topic":"r1/car","broker":"ccf4a74a.330b58","x":88,"y":714,"z":"49bc2521.b643dc","wires":[["eaa42985.155bd8"]]},{"id":"25584892.daa7b8","type":"mqtt in","name":"car_r2","topic":"r2/car","broker":"ccf4a74a.330b58","x":89,"y":750,"z":"49bc2521.b643dc","wires":[["a0554db7.5faab"]]},{"id":"91ba5321.6e45b","type":"mqtt in","name":"car_r3","topic":"r3/car","broker":"ccf4a74a.330b58","x":88,"y":786,"z":"49bc2521.b643dc","wires":[["94a1e77b.6b5e18"]]},{"id":"d7e3d179.281c3","type":"mqtt in","name":"car_r4","topic":"r4/car","broker":"ccf4a74a.330b58","x":88,"y":822,"z":"49bc2521.b643dc","wires":[["24b54d49.db4ab2"]]},{"id":"eaa42985.155bd8","type":"function","name":"r1_car_json","func":"msg.payload = '{\"robot\" : \"r1\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":714,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"a0554db7.5faab","type":"function","name":"r2_car_json","func":"msg.payload = '{\"robot\" : \"r2\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":750,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"94a1e77b.6b5e18","type":"function","name":"r3_car_json","func":"msg.payload = '{\"robot\" : \"r3\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":522,"y":786,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"24b54d49.db4ab2","type":"function","name":"r4_car_json","func":"msg.payload = '{\"robot\" : \"r4\", \"type\" : \"car\", \"value\":\"' + msg.payload + '\"}';\nreturn msg;","outputs":1,"x":523,"y":822,"z":"49bc2521.b643dc","wires":[["a5915a4b.5a6ea8"]]},{"id":"2a00e719.d5ff18","type":"debug","name":"debug","active":true,"console":"true","complete":"false","x":725,"y":232,"z":"757e065d.8a81f8","wires":[]},{"id":"81bc1ffd.7e43e","type":"mqtt in","name":"movement_sensor","topic":"/some-unique-name-or-id-from-this-config/DummyDevice/RandomStream","broker":"ccf4a74a.330b58","x":138,"y":99,"z":"757e065d.8a81f8","wires":[["ae030a9d.51fcf8"]]},{"id":"52323c79.adcdc4","type":"http request","name":"","method":"POST","url":"","x":754,"y":99,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"2df4e53d.d20b1a","type":"function","name":"Prepare HTTP Request","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Guten Morgen\";\nreturn msg;","outputs":1,"x":532,"y":99,"z":"757e065d.8a81f8","wires":[["52323c79.adcdc4"]]},{"id":"ae030a9d.51fcf8","type":"function","name":"check_time","func":"var json = JSON.parse(msg.payload);\nif(context.global.playMsg && json.e.bv){ \n\tcontext.global.playMsg = false;\n\treturn msg;\n}","outputs":1,"x":307,"y":98,"z":"757e065d.8a81f8","wires":[["2df4e53d.d20b1a","2a00e719.d5ff18"]]},{"id":"ffbf9431.004068","type":"inject","name":"entry time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"56 17 * * *","once":false,"x":212,"y":233,"z":"757e065d.8a81f8","wires":[["75cc0022.8a34"]]},{"id":"75cc0022.8a34","type":"function","name":"setPlayMsg","func":"//if(typeof context.global.playMsg === \"undefined\"){\n\tcontext.global.playMsg = true;\n//}\nif(context.global.playMsg){\n\tmsg.payload = context.global.playMsg;\n}\n\t\nreturn msg;","outputs":1,"x":372,"y":233,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"a56aef18.5a951","type":"inject","name":"check_office_time","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"x":200,"y":462,"z":"757e065d.8a81f8","wires":[["e9ca9008.16357"]]},{"id":"e9ca9008.16357","type":"http request","name":"call_dashboard","method":"GET","url":"http://localhost:8080/dashboard","x":437,"y":462,"z":"757e065d.8a81f8","wires":[["abdcea94.542318"]]},{"id":"abdcea94.542318","type":"function","name":"set_office_time","func":"var json = JSON.parse(msg.payload);\n\nif(typeof context.global.officeTime === \"undefined\"){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nif(context.global.officeTime != json.panes[0].widgets[0].settings.value){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nmsg.payload = context.global.officeTime;\nreturn msg;","outputs":1,"x":659,"y":461,"z":"757e065d.8a81f8","wires":[["2a00e719.d5ff18"]]},{"id":"3e17c7c3.c1e838","type":"mqtt in","name":"movement_sensor","topic":"/some-unique-name-or-id-from-this-config/DummyDevice/RandomStream","broker":"ccf4a74a.330b58","x":125,"y":149,"z":"a37b7238.5c849","wires":[["2fb70f3.fd048f"]]},{"id":"ab8cbec7.54734","type":"inject","name":"check","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 * * * *","once":false,"x":167,"y":449,"z":"a37b7238.5c849","wires":[["799d0dff.8662f4"]]},{"id":"799d0dff.8662f4","type":"http request","name":"checkTime","method":"GET","url":"http://localhost:8080/dashboard","x":349,"y":449,"z":"a37b7238.5c849","wires":[["19adf8a0.e65207"]]},{"id":"dee55383.211ab","type":"debug","name":"","active":true,"console":"false","complete":"false","x":714,"y":449,"z":"a37b7238.5c849","wires":[]},{"id":"19adf8a0.e65207","type":"function","name":"set_office_time","func":"var json = JSON.parse(msg.payload);\n\nif(typeof context.global.officeTime === \"undefined\"){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nif(context.global.officeTime != json.panes[0].widgets[0].settings.value){\n\tcontext.global.officeTime = json.panes[0].widgets[0].settings.value;\n}\nmsg.payload = context.global.officeTime;\ncontext.global.alarm = true;\nreturn msg;","outputs":1,"x":546,"y":449,"z":"a37b7238.5c849","wires":[["dee55383.211ab"]]},{"id":"f3b328bb.0c4cd8","type":"switch","name":"check_movement","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":516,"y":151,"z":"a37b7238.5c849","wires":[["a22e2679.5dd1d8"]]},{"id":"2fb70f3.fd048f","type":"function","name":"isMovement","func":"var json = JSON.parse(msg.payload);\nmsg.payload = json.e.bv;\nreturn msg;","outputs":1,"x":322,"y":150,"z":"a37b7238.5c849","wires":[["f3b328bb.0c4cd8"]]},{"id":"a22e2679.5dd1d8","type":"function","name":"check_time","func":"if (typeof context.global.alarm === \"undefined\"){\n\tcontext.global.alarm = true;\n} \nvar currentdate = new Date();\nvar alarm = context.global.officeTime.split(\":\"); \nif(alarm[0] == currentdate.getHours() && context.global.alarm){\n\tmsg.payload = true;\n\tcontext.global.alarm = false;\n}\nelse if(alarm[0] != currentdate.getHours() && !context.global.alarm){\n\tmsg.payload = false;\n\tcontext.global.alarm = true;\n}\nelse{\n\tmsg.payload = false;\n}\nreturn msg;","outputs":1,"x":536,"y":237,"z":"a37b7238.5c849","wires":[["3bd03a17.c42fc6"]]},{"id":"3bd03a17.c42fc6","type":"switch","name":"check_time","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":725,"y":238,"z":"a37b7238.5c849","wires":[["8708d923.78f728"]]},{"id":"8708d923.78f728","type":"function","name":"call_audio_service","func":"msg.url = \"http://0.0.0.0:8080/rest/AudioDevice/TTS\";\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\"\n};\nmsg.payload = \"Guten Morgen\";\nreturn msg;","outputs":1,"x":534,"y":348,"z":"a37b7238.5c849","wires":[["72b5e01f.8d4a2"]]},{"id":"72b5e01f.8d4a2","type":"http request","name":"","method":"POST","url":"","x":724,"y":348,"z":"a37b7238.5c849","wires":[[]]}]